body{
 background-color: #00CCFF;
 background-image: url("Logo.png");
 background-repeat: no-repeat;	
	
}
h1{
font-family: "Adele Mono", sans-serif;
font-size: 60px;
text-align: center;
}

h2{
font-family: verdana , sans-serif;
font-weight: bold;
text-align: center;
}


h3{
font-family: verdana, sans-serif;
font-size:25x;
text-align: center;

}
p{
font-family: verdana, sans-serif;
text-align: center;

}


#menu a{
border-width: 10px;
position: absolute;
left: -200px;
transition: 0.3s;
padding: 20px;
width: 200px;
text-decoration: none;
font-family: sans-serif;
font-size: 30px;
color: black;
border-radius: 0 5px 5px 0;

}

#menu a:hover{
	
	left: 0;

}


#Hauptseite {
    top: 230px;
    background-color: #0066ff;
}

#Firmenprofil {
    top: 310px;
    background-color: #ff0000; 
}

#Produkt {
    top: 390px;
    background-color: #00ff00; 
}

#Impressum {
    top: 470px;
    background-color: #ffff00; 
}

#Newsletter {
	top: 550px;
	background-color: #b300b3;

}

table{
border-collapse: collapse;
border-width: 0px;
border-style: groove;
}

td{

border-width: 2px;
border-style: groove;


}

#mitarbeiter {
text-align: center;
margin: auto;
}

#p1 {
 position: relative;
    left: 50%;
    top: 50%;
	width:1000px;
	height:500px;
    margin-left: -500px;
    margin-bottom: -250px;

}

#anwaelte {
	position: relative;
	width:680px;
	height:255px;
	left: 50%;
   	top: 50%;
	margin-left: -340px;
    	margin-bottom: -125px;

}


form{
width: 900px;
margin: auto;

}



